body, html {
    background: #FFFFFF;
    color: #212121;
}

a:link, a:visited {
    color: #212121;
}

blockquote, pre, code {
    background: #EEEEEE;
}

blockquote *, pre *, code * {
    color: #212121;
}

hr {
    background: #757575;
}
