body, html {
    background: #FDFEFF;
    color: #263238;
}

a:link, a:visited {
    color: #0091EA;
}

blockquote, pre, code, #table-of-contents {
    background: #ECEFF1;
}

hr {
    background: #B0BEC5;
}

#table-of-contents a:link, #table-of-contents a:visited {
    color: #37474F;
}

#table-of-contents a:hover, #table-of-contents a:focus, #table-of-contents a:active {
    color: #0091EA;
}
