body,
html {
    background: #FDFEFF;
    color: #263238;
}

a:link,
a:visited {
    color: #0091EA;
}

blockquote,
code {
    background: #ECEFF1;
    color: #37474F;
}

hr {
    background: #CFD8DC;
}

.hljs {
    background: #455A64;
}

/* base text */
.hljs,
.hljs-template-tag {
    color: #ECEFF1;
}

/* yellow */
.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type,
.hljs-literal {
    color: #EFDEAE;
}

/* pink */
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
    color: #FAB7B7;
}

/* orange */
.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
    color: #FFDAB0;
}

/* green */
.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
    color: #AFCFAF;
}

/* gray */
.hljs-number,
.hljs-subst {
    color: #90A4AE;
}

.hljs.ignore * {
    color: #ECEFF1;
    font-style: normal;
    font-weight: normal;
}