#main-page {
    position: fixed;
    left: 0;
    right: 0;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
}

#main-page > * {
    width: 100%;
    max-width: 42em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2em;
    padding-left: 2em;
}

article {
    padding-top: 4em;
    padding-bottom: 12em;
}

#table-of-contents {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    overflow-y: auto;
    width: 25%;
    padding: 1em 2em 2em 2em;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 150%;
    visibility: hidden;
}

@media (min-width: 60em) {
    #main-page {
        width: 75%;
    }

    #table-of-contents {
        visibility: visible;
    }
}
