html,
body {
    width: 100%;
    height: 100%;
}

header,
#title-section,
article,
footer {
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

header,
footer {
    font-family: Tahoma, sans-serif;
    text-align: center;
}

header {
    margin-top: 2.5rem;
}

#title-section {
    margin-top: 3em;
    text-align: center;
}

article {
    margin-top: 4rem;
    padding-bottom: 8rem;
}

footer {
    padding-bottom: 4rem;
}

/* Custom header */

#home-button {
    height: 3.75rem;
    border: 1px solid #FDFEFF;
    border-radius: 50%;
    padding: .25rem;
    transition: .3s all ease;
}

#home-button:hover,
#home-button:focus,
#home-button:active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
