#main-page {
    width: 100%;
}

#main-page > * {
    width: 100%;
    max-width: 44em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2em;
    padding-left: 2em;
}

article {
    padding-top: 4em;
    padding-bottom: 12em;
}

@media all and (min-width: 55em) {
    #main-page {
        width: 75%;
    }

    article {
        padding-bottom: 25%;
    }
}

header {
    height: auto;
    margin-top: 3em;
}
