#table-of-contents {
    margin-top: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 150%;
}

#table-of-contents ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -1.5rem;
    list-style-position: inside;
}

#table-of-contents ol > li {
    flex: 1 0 12.5rem;
    max-width: 12.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

#table-of-contents ul > li {
    margin-top: .5rem;
    margin-left: 1rem;
}

@media all and (max-width: 44rem) {
    #table-of-contents ol {
        margin-left: 0;
    }

    #table-of-contents ol > li {
        flex: 1 0 100%;
        max-width: 100%;
        margin-left: 0;
    }
}
