#table-of-contents {
    margin: 0 auto 4rem auto;
    line-height: 140%;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

#table-of-contents h2 {
    font-size: 112%;
    font-weight: bold;
}

#table-of-contents ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin: 0;
}

#table-of-contents ul {
    margin-left: 2.25rem;
}

#table-of-contents ol > li {
    flex: 1 0 100%;
    margin-top: 1.5rem;
    border: 1px solid;
    padding: 1rem 1.25rem 1.4rem 1.25rem;
}

#table-of-contents ul > li {
    margin-top: .4rem;
}

@media all and (min-width: 47rem) {
    #table-of-contents ol {
        margin-left: -1.5rem;
    }

    #table-of-contents ol > li {
        flex: 1 0 19.25rem;
        margin-left: 1.5rem;
    }
}
