#table-of-contents {
    display: none;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    line-height: 150%;
    margin: 1em 0 2.5em 0;
    padding: .5em 1.5em 1.25em 1.5em;
    width: 100%;
}

#table-of-contents-toggle {
    margin: .75em 0;
}

#table-of-contents a {
    display: block;
    padding: .4em 0;
}

#table-of-contents ul {
    margin-left: 0em;
    list-style-type: none;
}

.table-of-contents-first-level {
    font-weight: bold;
}

.table-of-contents-second-level {
    font-weight: normal;
}

.table-of-contents-first-level > li {
    padding-bottom: 1.25em;
}

@media all and (min-width: 35em) {
    #table-of-contents {
        width: 66%;
    }
}

@media all and (min-width: 55em) {
    #table-of-contents {
        display: block !important;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25%;
        max-height: 100%;
        overflow-y: auto;
        margin: 0;
        padding: 1em 2.25em 1.5em 2.25em;
    }

    #table-of-contents-toggle {
        display: none;
    }

    #table-of-contents a {
        padding: .6em 0;
    }

    .table-of-contents-first-level {
        max-width: 20em;
    }

    .table-of-contents-first-level > li {
        padding-bottom: 1.6em;
    }
}
