/* Core style */
html, body {
    line-height: 165%;
    font-family: Georgia, serif;
    font-size: 18px;
}

h1, h2, h3 {
    line-height: 140%;
    font-family: Tahoma, sans-serif;
}

h1 {
    margin-bottom: 1.1em;
    font-size: 225%;
}

h2 {
    margin-top: 1.5em;
    font-size: 165%;
}

h3 {
    margin-top: 1.5em;
    font-size: 110%;
    font-weight: bold;
}

p, ol, ul {
    margin-top: 1em;
}

ol, ul {
    margin-left: 2.5em;
    list-style-position: outside;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ol ol, ul ul, ol ul, ul ol {
    margin: 0 0 0 2em;
}

ol li {
    padding-left: .5em;
}

ul li {
    padding-left: .25em;
}

a, a:active {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote, pre {
    display: inline-block;
    width: 100%;
    margin-top: 1.25em;
    padding: 1em 1.3em 1.3em 1.3em;
}

blockquote {
    line-height: 160%;
    font-size: 16px;
    font-style: italic;
}

pre {
    overflow-x: auto;
    line-height: 120%;
}

code {
    margin: 0 .1em;
    padding: .15em .4em;
    font-family: Courier, monospace;
    font-size: 16px;
}

blockquote *, pre * {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    height: 1px;
    margin: 3em 0;
    border: none;
}

/* Table of contents */
#table-of-contents ul {
    margin-left: 0em;
    list-style-type: none;
}

.table-of-contents-first-level {
    max-width: 20em;
    font-weight: bold;
}

.table-of-contents-second-level {
    font-weight: normal;
}

.table-of-contents-first-level > li {
    padding-bottom: 1.5em;
}

#table-of-contents a {
    display: block;
    padding: .5em 0;
}

#table-of-contents a:hover, #table-of-contents a:focus, #table-of-contents a:active {
    text-decoration: none;
}
